#marks{
    width: 500px;
    height: 1100px;
    max-height: 1400px;
    background-color:lightgreen;
    position:relative;
    left: 250px;
    bottom: 10px;
    border-top: 10px;
    border-bottom: 10px;
}
.credit{
   position: relative;
   left:150px;
   top:20px;
   padding: 5px;
   border:10px solid lightgreen;

}
body{
    background-image: url("cal.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
#btn{
    position: relative;
    top: 5px;
    left: 200px;
    border-radius: 5px;
    background-color: red;
    color: green;
}
#btn:hover{
    background-color: whitesmoke;
    color:blue;
}
#butt{
    position: relative;
    top: 5px;
    left: 600px;
    border-radius: 5px;
    background-color: red;
    color: green;
}
#butt:hover{
    background-color: blue;
    color:salmon;
}
header{
    text-align: center;
    color:darkmagenta
}
#arun{
    color: blue;
    position: relative;
    max-width: 300px;
    top: 0px;
    left: 300px;
    background: goldenrod;
}
#kumar{
    color: blue;
    position: relative;
    max-width: 300px;
    top: 0px;
    left: 300px;
    background: goldenrod;
}
#bt{
    position: relative;
    left: 150px;
    top:20px;
    border-radius: 5px;
    background-color: yellow;
    color: red;
    border-style: dashed;
}
#error{
    position: absolute;
    left:30px;
    top:30px;
    width: 200px;
    height: 5px;
}
#mark{
    padding:10px;
}
#gpa{
    position: relative;
    left: 400px;
    max-width: 100px;
    background-color: black;
    color: white;
    animation-timing-function: linear;
    animation-name: name;
    animation-duration: 20s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes name{
    50%{
        background-color: blue;
        color: yellow;
    }
    100%{
        background-color: orange;
        color: black;
    }
}